<!DOCTYPE html>
<html>

<head>
    <title>Zomato List</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
    <div id="app">
        <h1>Zomato List</h1>
        <!-- <ul>
            <li v-for="zomato in zomatoList" :key="zomato.id">{{ zomato.name }}</li>
            <li v-for="zomato in zomatoList" :key="zomato.id">{{ zomato.online_order }}</li>
        </ul> -->
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Online Order</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(zomato,index) in zomatoList" :key="zomato.id">
                    <!-- <td>{{ zomato.id }}</td> -->
                    <td>{{ index + 1 }}</td>
                    <td>{{ zomato.name }}</td>
                    <td>{{ zomato.online_order }}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                zomatoList: []
            },
            methods: {
                async fetchData() {
                    try {
                        const response = await fetch('https://4a65c2dd-7f6b-4ddd-a142-a30af5c90952-00-xzqwpcr87ak8.sisko.replit.dev:8080/APIS');
                        const data = await response.json();
                        this.zomatoList = data;
                    } catch (error) {
                        console.error("Error fetching data:", error);
                    }
                }
            },
            mounted() {
                this.fetchData();
            }
        });
    </script>
</body>

</html>